# How to complete this assignment
First, download [this Kaggle dataset](https://www.kaggle.com/hugomathien/soccer) and extract *sqlite* database. You may need to register at https://www.kaggle.com/ beforehand. Then complete 15 graded tasks below, the score is given in brackets. Finally submit the resulting `.ipynb` file to rs-app Auto-test.

- Do not delete or rename the variables given before the inscription `#your code here`, they are needed for the correct verification.
- Do not change the code in the last Notebook cell, it is required for the server check.
- Your Notebook must run completely without errors to be graded! Please check everything before submission by going *Cell -> Run All*

## Some important notes
- If you need to **calculate the number of "something"** that means we expect you to assign an Integer to the given variable
- If you need to **make a list of "something"** we expect you to assign a Python list with appropriate values to the given variable
- If you need to find a **specifi—Å player, day of the week, team, etc.** we expect you to assign a String with the full name of the entity to the given variable (`player_name`, day of week full name, `team_name`, etc.)

In [106]:
import sqlite3
import pandas as pd
import os
from datetime import datetime
import numpy as np
import math

pd.set_option('display.max_column', None)

In [70]:
# Leave that code unchanged, it is required for the server check!
db = sqlite3.connect(os.environ.get("DB_PATH") or 'european_soccer_database.sqlite')

In [99]:
# You may load the data from SQL table directly to the Pandas dataframe as
player_data = pd.read_sql("SELECT * FROM Player;", db)
match_data = pd.read_sql("SELECT * FROM Match;", db)
league_data = pd.read_sql("SELECT * FROM League;", db)
player_attributes = pd.read_sql("SELECT * FROM Player_Attributes;", db)
team = pd.read_sql("SELECT * FROM Team;", db)
team_attributes = pd.read_sql("SELECT * FROM Team_Attributes;", db)

In [4]:
player_data.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

**Task 1 (0.25 point).** Calculate the number of players with a height between 180 and 190 inclusive

In [5]:
players_180_190 = len(player_data[(player_data['height']>=180) & (player_data['height']<=190)])
print(players_180_190)

5925

In [49]:
assert(isinstance(players_180_190, int))

**Task 2 (0.25 point).** Calculate the number of players born in 1980. <br>
**Hint:** you may want to cast your 'birthday' column to DateTime type by [pandas.to_datetime](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

In [22]:
#player_data['birthday'] = pd.to_datetime(player_data['birthday'], format = '%Y-%m-%d %H:%M:%S')

In [81]:
players_1980 = 0
for i,row in player_data.iterrows(): 
    if datetime.strptime(row['birthday'], '%Y-%m-%d %H:%M:%S').year == 1980: players_1980+=1
print(players_1980)

434

In [50]:
assert(isinstance(players_1980, int))

**Task 3 (0.25 point).** Make a list of the top 10 players with the highest weight sorted in descending order. If there are several players with the same weight put them in the lexicographic order by name.

In [73]:
highest_players = player_data.sort_values(['weight','player_name'],ascending = [False, True]).head(10)
#highest_players = [str(s) for s in highest_players.values.tolist()]
highest_players

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
5901,5908,148325,Kristof van Hout,185306,1987-02-09 00:00:00,208.28,243
10297,10313,27313,Tim Wiese,53012,1981-12-17 00:00:00,193.04,243
4879,4884,5044,Jeroen Verhoeven,137692,1980-04-30 00:00:00,198.12,227
4408,4412,27267,Ishmael Miller,169725,1987-03-05 00:00:00,193.04,225
1595,1598,101584,Cassio,167958,1987-06-06 00:00:00,195.58,220
1819,1822,19020,Christopher Samba,46590,1984-03-28 00:00:00,193.04,220
5969,5976,210822,Lars Unnerstall,199833,1990-07-20 00:00:00,198.12,220
6762,6772,30669,Marcus Hahnemann,53785,1972-06-15 00:00:00,190.50,220
44,45,40005,Abdoulaye Faye,100329,1978-02-26 00:00:00,187.96,218
3026,3030,33060,Enoch Showunmi,157589,1982-04-21 00:00:00,195.58,218

In [ ]:
assert(len(highest_players) == 10)
assert(isinstance(highest_players, list))
for i in range(10):
    assert(isinstance(highest_players[i], str))

**Task 4 (0.5 point).** Make a list of tuples containing years along with the number of players born in that year from 1980 up to 1990. <br>
**Structure example**: [(1980, 123), (1981, 140) ..., (1990, 83)] -> There were born 123 players in 1980, there were born 140 players in 1981 and etc.

In [85]:
years_born_players = []
all_years_born_players = []

for i, row in player_data.iterrows():
    all_years_born_players.append(datetime.strptime(row['birthday'], '%Y-%m-%d %H:%M:%S').year)

for i in range(1980, 1991):
    years_born_players.append((i,all_years_born_players.count(i)))

print(years_born_players)

[(1980, 434), (1981, 475), (1982, 487), (1983, 541), (1984, 607), (1985, 593), (1986, 710), (1987, 722), (1988, 802), (1989, 723), (1990, 696)]

In [86]:
assert(len(years_born_players) == 11)
assert(isinstance(years_born_players, list))
for i in range(10):
    assert(isinstance(years_born_players[i], tuple))
    assert(isinstance(years_born_players[i][0], int))
    assert(isinstance(years_born_players[i][1], int))

**Task 5 (0.5 point).** Calculate the mean and the standard deviation of the players' **height** with the name **Adriano**. <br>
**Note:** Name is represented by the first part of `player_name`.

In [92]:
adriano_players = []
for i,row in player_data.iterrows():
    if (row['player_name'][0:len('Adriano')] == 'Adriano') & (row['player_name'] != 'Adriano'):
        adriano_players.append(row['height'])

adriano_mean = np.mean(adriano_players)
adriano_std = np.std(adriano_players)

print(adriano_mean,' ',adriano_std)

183.7266666666667   3.4908960963562805

In [93]:
assert(isinstance(adriano_mean, float))
assert(isinstance(adriano_std, float))

**Task 6 (0.75 point).** How many players were born on each day of the week? Find the day of the week with the minimum number of players born.

In [95]:
day_of_week_birth = [0] * 7
for i,row in player_data.iterrows():
    day_of_week = datetime.strptime(row['birthday'], '%Y-%m-%d %H:%M:%S').weekday()
    day_of_week_birth[day_of_week] += 1

week = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
dow_with_min_players_born = week[day_of_week_birth.index(min(day_of_week_birth))]

print(dow_with_min_players_born)

Sunday

In [ ]:
assert(isinstance(dow_with_min_players_born, str))

**Task 7 (0.75 point).** Find a league with the most matches in total. If there are several leagues with the same amount of matches, take the first in the lexical order.

In [111]:
match_data.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [112]:
league_data.head()

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [104]:
league_matches = []

for i, league_team in league_data.iterrows():
    matches_quantity = len(match_data[match_data['league_id'] == league_team['id']])
    league_matches.append((league_team['name'],matches_quantity))

league_matches.sort(key=lambda tup: tup[1], reverse=True)
league_most_matches = league_matches[0][0]

print(league_most_matches)

England Premier League

In [103]:
assert(isinstance(league_most_matches, str))

**Task 8 (1.25 point).** Find a player who participated in the largest number of matches during the whole match history. Assign a `player_name` to the given variable

In [107]:
matches_players = match_data.loc[:,'home_player_1':'away_player_11'].to_numpy().flatten().tolist()
matches_players = [x for x in matches_players if math.isnan(x) == False]
matches_players = [int(x) for x in matches_players]
matches_players.sort()

matches_players_and_games = [[matches_players[0],1]]

for i in range (1,len(matches_players)):
    if matches_players_and_games[-1][0] == matches_players[i]:
        matches_players_and_games[-1][1] += 1
    else: 
        matches_players_and_games.append([matches_players[i],1])

matches_players_and_games.sort(key=lambda x: x[1], reverse=True)

max_matches_player = player_data[player_data['player_api_id'] == matches_players_and_games[0][0]].iloc[0]['player_name']
max_matches = matches_players_and_games[0][1]

for i in range (1,len(matches_players_and_games)):
    player = player_data[player_data['player_api_id'] == matches_players_and_games[i][0]].iloc[0]['player_name']
    matches = matches_players_and_games[i][1]
    if matches == max_matches:
        if max_matches_player > player:
            max_matches_player = player
    else:
        break

print(max_matches_player)

Steve Mandanda

In [ ]:
assert(isinstance(max_matches_player, str))

**Task 9 (1.5 point).** List top-5 tuples of most correlated **player's characteristics** in the descending order of the absolute [Pearson's coefficient](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient) value.

**Note 1:** Players characteristics are all the columns in `Player_Attributes` table except `[id, player_fifa_api_id, player_api_id, date, preferred_foot, attacking_work_rate, defensive_work_rate]`). <br>
**Note 2:** Exclude duplicated pairs from the list. E.g. ('gk_handling', 'gk_reflexes') and ('gk_reflexes', 'gk_handling') are duplicates, leave just one of them in the resulting list.

**Hint:** You may use [dataframe.corr()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html) for calculating pairwise Pearson correlation.

In [110]:
player_attributes.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,63.0,41.0,45.0,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [127]:
vector_names = list(player_attributes.loc[:,'crossing':'gk_reflexes'])
vector_names.append('overall_rating')
vector_names.append('potential')

In [128]:
correlated_features = []
for i in range (len(vector_names)-1):
    for j in range (i+1,len(vector_names)):
        corr_coeff = player_attributes.loc[:,[vector_names[i],vector_names[j]]].corr(method='pearson').iloc[0][1];
        correlated_features.append((vector_names[i],vector_names[j],abs(corr_coeff)))

correlated_features.sort(key=lambda x: x[2], reverse=True)

In [129]:
top_correlated_features = []
for i in range (0,5):
    top_correlated_features.append((correlated_features[i][0],correlated_features[i][1]))

print(top_correlated_features)

[('gk_positioning', 'gk_reflexes'), ('gk_handling', 'gk_reflexes'), ('gk_handling', 'gk_positioning'), ('standing_tackle', 'sliding_tackle'), ('marking', 'standing_tackle')]

In [ ]:
assert(len(top_correlated_features) == 5)
assert(isinstance(top_correlated_features, list))
for i in range(5):
    assert(isinstance(top_correlated_features[i], tuple))
    assert(isinstance(top_correlated_features[i][0], str))
    assert(isinstance(top_correlated_features[i][1], str))

**Task 10 (2 points).** Find top-5 most similar players to **Neymar** whose names are given. The similarity is measured as [Euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance) between vectors of players' characteristics (described in the task above). Put their names in a vector in ascending order by Euclidean distance and sorted by `player_name` if the distance is the same<br>
**Note 1:** There are many records for some players in the `Player_Attributes` table. You need to take the freshest data (characteristics with the most recent `date`). <br>
**Note 2:** Use pure values of the characteristics even if you are aware of such preprocessing technics as normalization. <br>
**Note 3:** Please avoid using any built-in methods for calculating the Euclidean distance between vectors, think about implementing your own.

In [130]:
def euclidian_distance(first_player, second_player):
    delta = 0
    for i in range (len(first_player)):
        delta += pow(first_player[i] - second_player[i], 2)
    return pow(delta, 1/2)

In [132]:
def player_info(id):
    attributes = player_attributes[player_attributes['player_api_id'] == id].sort_values(by='date', ascending=False).head(1)
    player_vector = attributes.loc[:,'crossing':'gk_reflexes'].to_numpy()
    player_vector = np.append(player_vector,attributes.loc[:,'overall_rating':'potential'].to_numpy())
    return player_vector

In [133]:
neymar_id = player_data[player_data['player_name']=='Neymar'].iloc[0]['player_api_id']
neymar_vector = player_info(neymar_id)

In [134]:
player_euclidian_distance_from_neymar = []

for i in range (len(player_data)):
    id = player_data.iloc[i]['player_api_id']
    vector = player_info(id)
    eu_dis = euclidian_distance(neymar_vector, vector)
    if math.isnan(eu_dis) == False:
        player_euclidian_distance_from_neymar.append([player_data.iloc[i]['player_name'],eu_dis])

In [135]:
player_euclidian_distance_from_neymar.sort(key=lambda x: x[1], reverse=False)

In [136]:
neymar_similarities = []
for i in range (1,6):
    neymar_similarities.append(player_euclidian_distance_from_neymar[i][0])

print(neymar_similarities)

['Paulo Dybala', 'Eden Hazard', 'Giovani dos Santos', 'Arjen Robben', 'Lionel Messi']

In [ ]:
assert(len(neymar_similarities) == 5)
assert(isinstance(neymar_similarities, list))
for i in range(5):
    assert(isinstance(neymar_similarities[i], str))

**Task 11 (1 point).** Calculate the number of home matches played by the **Borussia Dortmund** team in **Germany 1. Bundesliga** in season **2008/2009**

In [158]:
team.head()

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [137]:
team_api_id = team[team['team_long_name'] == 'Borussia Dortmund'].iloc[0]['team_api_id']
league_id = league_data[league_data['name'] == 'Germany 1. Bundesliga'].iloc[0]['id']
borussia_bundesliga_2008_2009_matches = len(match_data[(match_data['season'] == "2008/2009") & 
                                                       (match_data['league_id'] == league_id) & 
                                                       (match_data['home_team_api_id'] == team_api_id)])

print(borussia_bundesliga_2008_2009_matches)

17

In [ ]:
assert(isinstance(borussia_bundesliga_2008_2009_matches, int))

**Task 12 (1 point).** Find a team having the most matches (both home and away!) in the **Germany 1. Bundesliga** in **2008/2009** season. Return number of matches.

In [138]:
league_id = league_data[league_data['name'] == 'Germany 1. Bundesliga'].iloc[0]['id']
teams = match_data[(match_data['season'] == "2008/2009") & 
                   (match_data['league_id'] == league_id)].loc[:,'home_team_api_id':'away_team_api_id'].to_numpy().flatten().tolist()
teams.sort()

In [139]:
match_quantity_and_team = [[teams[0],1]];

for i in range (1,len(teams)):
    if match_quantity_and_team[-1][0] == teams[i]:
        match_quantity_and_team[-1][1] += 1
    else:
        match_quantity_and_team.append([teams[i],1])

In [143]:
match_quantity_and_team.sort(key=lambda x: x[1], reverse=True)
team_most_matches_bundesliga_2008_2009 = match_quantity_and_team[0][1]

print(team_most_matches_bundesliga_2008_2009)

34

In [ ]:
assert(isinstance(team_most_matches_bundesliga_2008_2009, int))

**Task 13 (1 point).** Count total number of **Arsenal** matches (both home and away!) in the **2015/2016** season which they have won. <br><br>
**Note:** Winning a game means scoring **more** goals than an opponent.

In [144]:
team_api_id = team[team['team_long_name'] == 'Arsenal'].iloc[0]['team_api_id']
matches_arsenal_played = match_data[(match_data['season'] == "2015/2016") & 
                                    ((match_data['home_team_api_id'] == team_api_id) | 
                                     (match_data['away_team_api_id'] == team_api_id))]

In [145]:
arsenal_won_matches_2015_2016 = 0

for i in range (len(matches_arsenal_played)):
    home_win = matches_arsenal_played.iloc[i]['home_team_goal'] > matches_arsenal_played.iloc[i]['away_team_goal']
    away_win = matches_arsenal_played.iloc[i]['home_team_goal'] < matches_arsenal_played.iloc[i]['away_team_goal']
    if (matches_arsenal_played.iloc[i]['home_team_api_id'] == team_api_id) & home_win:
        arsenal_won_matches_2015_2016 += 1
    else: 
        if (matches_arsenal_played.iloc[i]['away_team_api_id'] == team_api_id) & away_win:
            arsenal_won_matches_2015_2016 += 1

In [146]:
print(arsenal_won_matches_2015_2016)

20

In [ ]:
assert(isinstance(arsenal_won_matches_2015_2016, int))

**Task 14 (2 points).** Find a team with the highest win rate in the **2015/2016** season. Win rate means won matches / all matches. If there are several teams with the highest win rate return the first by name in lexical order

In [147]:
matches_2015_1016 = match_data[(match_data['season'] == "2015/2016")]

In [148]:
teams_2015_2016 = list(set(matches_2015_1016.loc[:,'home_team_api_id':'away_team_api_id'].to_numpy().flatten()))
teams_list_2015_2016 = [[x, 0, 0] for x in teams_2015_2016]

for i in range (len(matches_2015_1016)):
    home_team_api_id = matches_2015_1016.iloc[i]['home_team_api_id']
    away_team_api_id = matches_2015_1016.iloc[i]['away_team_api_id']

    home_win = 1 if matches_2015_1016.iloc[i]['home_team_goal'] > matches_2015_1016.iloc[i]['away_team_goal'] else 0
    away_win = 1 if matches_2015_1016.iloc[i]['home_team_goal'] < matches_2015_1016.iloc[i]['away_team_goal'] else 0

    teams_list_2015_2016[teams_2015_2016.index(home_team_api_id)][1] += 1
    teams_list_2015_2016[teams_2015_2016.index(home_team_api_id)][2] += home_win

    teams_list_2015_2016[teams_2015_2016.index(away_team_api_id)][1] += 1
    teams_list_2015_2016[teams_2015_2016.index(away_team_api_id)][2] += away_win

In [149]:
team_win_rate = []

for i in range (len(teams_list_2015_2016)):
    team_win_rate.append([teams_list_2015_2016[i][0], teams_list_2015_2016[i][2]/teams_list_2015_2016[i][1]])

team_win_rate.sort(key=lambda x: x[1], reverse=True)

In [150]:
team_win_name = team[team['team_api_id'] == team_win_rate[0][0]].iloc[0]['team_long_name']
tim_win_quantity = team_win_rate[0][1]
for i in range (1, len(team_win_rate)):
    team_name = team[team['team_api_id'] == team_win_rate[i][0]].iloc[0]['team_long_name']
    if team_win_rate[i][1] == tim_win_quantity:
        if team_name < team_win_name:
            team_win_name = team_name
    else:
        break

In [152]:
team_highest_winrate_2015_2016 = team_win_name

print(team_highest_winrate_2015_2016)

SL Benfica

In [ ]:
assert(isinstance(team_highest_winrate_2015_2016, str))

**Task 15 (2 points).** Determine the team with the maximum days' gap between matches in **England Premier League 2010/2011 season**. Return number of days in that gap. <br>
**Note**: a *gap* means the number of days between two consecutive matches of the same team.

In [153]:
league_id = league_data[league_data['name'] == 'England Premier League'].iloc[0]['id']
match_2010_2011_england = match_data[(match_data['season'] == "2010/2011") & (match_data['league_id'] == league_id)]

In [156]:
teams_2010_2011_england = list(set(match_2010_2011_england.loc[:,'home_team_api_id':'away_team_api_id'].to_numpy().flatten()))
teams_and_date_2010_2011_england = [[x, []] for x in teams_2010_2011_england ]

for i in range (len(match_2010_2011_england)):
    date = match_2010_2011_england.iloc[i]['date']
    home_team_index = teams_2010_2011_england.index(match_2010_2011_england.iloc[i]['home_team_api_id'])
    away_team_index = teams_2010_2011_england.index(match_2010_2011_england.iloc[i]['away_team_api_id'])
    teams_and_date_2010_2011_england[home_team_index][1].append(date)
    teams_and_date_2010_2011_england[away_team_index][1].append(date)

for i in range (len(teams_and_date_2010_2011_england)):
    teams_and_date_2010_2011_england[i][1] = [(datetime.strptime(x, '%Y-%m-%d %H:%M:%S')) for x in teams_and_date_2010_2011_england[i][1]]
    teams_and_date_2010_2011_england[i][1].sort()

for i in range (len(teams_and_date_2010_2011_england)):
    distance = []
    for j in range (len(teams_and_date_2010_2011_england[i][1]) - 1):
        distance.append((teams_and_date_2010_2011_england[i][1][j+1] - teams_and_date_2010_2011_england[i][1][j]).days)
    teams_and_date_2010_2011_england[i][1] = max(distance)

teams_and_date_2010_2011_england.sort(key=lambda x: x[1], reverse=True)

In [157]:
highest_gap_england_2010_2011 = teams_and_date_2010_2011_england[0][1]

print(highest_gap_england_2010_2011)

18

In [ ]:
assert(isinstance(highest_gap_england_2010_2011, int))

### Warning! Do not change anything in the area below

In [ ]:
with open('student_answers.txt', 'w') as file:
    file.write(f"{players_180_190}\n")
    file.write(f"{players_1980}\n")
    file.write(f"{highest_players}\n")
    file.write(f"{years_born_players}\n")
    file.write(f"{round(adriano_mean, 3)} {round(adriano_std, 3)}\n")
    file.write(f"{dow_with_min_players_born}\n")
    file.write(f"{league_most_matches}\n")
    file.write(f"{max_matches_player}\n")
    file.write(f"{';'.join(['%s,%s' % tup for tup in top_correlated_features])};\n")
    file.write(f"{neymar_similarities}\n")
    file.write(f"{borussia_bundesliga_2008_2009_matches}\n")
    file.write(f"{team_most_matches_bundesliga_2008_2009}\n")
    file.write(f"{arsenal_won_matches_2015_2016}\n")
    file.write(f"{team_highest_winrate_2015_2016}\n")
    file.write(f"{highest_gap_england_2010_2011}\n")